@import 'vendor/swiper';
@import 'swiper';
@import 'vendor/ress';

$container-margin: 5vmin;
$container-wmax: 1800px;

$letter-space: 1.5;

$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.top-container {
  position: relative;
  background-image: url('../img/img_main01.jpg');
  width: 100%;
  height: 100%;
  max-height: 1200px;
  background-size: cover;
  background-position: left;
  padding: 5vmin;
  @include mq(lg) {
    background-image: url('../img/img_main02.jpg');
    background-size: cover;
    background-position: bottom 50% center 0;
    height: 825px;
    width: 100%;
  }
  @include mq(md) {
    background-image: url('../img/img_main02.jpg');
    background-size: cover;
    background-position: bottom 50% right 50%;
    width: 100%;
  }
  .title {
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: 60px;
    max-height: 200px;
    @include mq(md) {
      top: 30%;
      height: 15vw;
      width: auto;
      min-height: 180px;
      margin: 0;
      left: 15%;
    }
    @include mq(lg) {
      right: 50%;
      left: auto;
    }
  }
  .item {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
    margin: 60px;
    max-height: 600px;
    max-height: 450px;
    @include mq(md) {
      top: 20%;
      height: 30vw;
      width: auto;
      min-height: 300px;
      margin: 0;
      left: 45%;
    }
    @include mq(lg) {
      left: auto;
      top: 15%;
      right: 50%;
      margin-right: -10%;
    }
  }
}

.fav-skin {
  background-color: #f9e1d8;
  .fav-skin-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15vmin 15vmin 15vmin;
    max-width: $container-wmax;
    @include mq(md) {
      height: 800px;
      width: 80%;
    }
    @include mq(md) {
      height: 900px;
      padding: 0;
    }
    .concept-img {
      display: block;
      height: 100vw;
      max-width: 100%;
      object-fit: cover;
      object-position: 15%;
      margin-left: -5vw;
      @include mq(md) {
        height: 100%;
        margin-left: 0;
        // コンテナのサイズ指定 basisとmax-widthを同じ値にする
        flex: 0 1 800px;
        max-width: 800px;
        object-position: left;
      }
    }
    .fav-skin-text {
      @include mq(md) {
        flex: 1;
        max-width: 500px;
        padding-left: 10%;
      }
      .headline {
        width: 100%;
        padding: 5% 0;
        letter-spacing: $letter-space;
        font-size: 4.5vw;
        @include mq(md) {
          font-size: 25px;
        }
      }
      p {
        letter-spacing: $letter-space;
        font-size: 3vw;
        line-height: 2;
        @include mq(md) {
          font-size: 15px;
        }
      }
    }
  }
}

.secret-container {
  display: flex;
  flex-wrap: wrap;
  max-width: $container-wmax;
  .srcret-title {
    width: 60%;
    margin-top: 25vmin;
    margin-left: 10%;
  }
  .secret-bg {
    object-fit: cover;
    width: 100%;
    padding-left: 7%;
    height: 75vw;
    object-position: left;
  }
}
