@import 'vendor/swiper';
@import 'swiper';
@import 'vendor/ress';

$container-margin: 5vmin;
$container-wmax: 1800px;
$primary-color: #f9e1d8;

$letter-space: 1.5;

$breakpoints: (
  'sm': 'screen and (min-width: 400px)',
  'md': 'screen and (min-width: 768px)',
  'lg': 'screen and (min-width: 1000px)',
  'xl': 'screen and (min-width: 1200px)',
) !default;

@mixin mq($breakpoint: md) {
  @media #{map-get($breakpoints, $breakpoint)} {
    @content;
  }
}

.top-container {
  position: relative;
  background-image: url('../img/img_main01.jpg');
  width: 100%;
  height: 100%;
  max-height: 1200px;
  background-size: cover;
  background-position: left;
  padding: 5vmin;
  @include mq(lg) {
    background-image: url('../img/img_main02.jpg');
    background-size: cover;
    background-position: bottom 50% center 0;
    height: 825px;
    width: 100%;
  }
  @include mq(md) {
    background-image: url('../img/img_main02.jpg');
    background-size: cover;
    background-position: bottom 50% right 50%;
    width: 100%;
  }
  .title {
    position: absolute;
    width: 70%;
    bottom: 0;
    left: 0;
    z-index: 2;
    margin: 60px;
    max-height: 200px;
    @include mq(md) {
      top: 30%;
      height: 15vw;
      width: auto;
      min-height: 180px;
      margin: 0;
      left: 15%;
    }
    @include mq(lg) {
      right: 50%;
      left: auto;
    }
  }
  .item {
    position: absolute;
    width: 30%;
    bottom: 0;
    right: 0;
    margin: 60px;
    max-height: 600px;
    max-height: 450px;
    @include mq(md) {
      top: 20%;
      height: 30vw;
      width: auto;
      min-height: 300px;
      margin: 0;
      left: 45%;
    }
    @include mq(lg) {
      left: auto;
      top: 15%;
      right: 50%;
      margin-right: -10%;
    }
  }
}

.fav-skin {
  background-color: #f9e1d8;
  .fav-skin-container {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
    margin: 0 auto;
    padding: 0 15vmin 15vmin 15vmin;
    max-width: $container-wmax;
    @include mq(md) {
      height: 800px;
      width: 80%;
    }
    @include mq(lg) {
      height: 900px;
      padding: 0;
    }
    .concept-img {
      display: block;
      height: 100vw;
      max-width: 100%;
      object-fit: cover;
      object-position: 15%;
      margin-left: -5vw;
      @include mq(md) {
        height: 100%;
        margin-left: 0;
        // コンテナのサイズ指定 basisとmax-widthを同じ値にする
        flex: 0 1 800px;
        max-width: 800px;
        object-position: left;
      }
    }
    .fav-skin-text {
      @include mq(md) {
        flex: 1;
        max-width: 500px;
        padding-left: 10%;
      }
      .headline {
        width: 100%;
        padding: 5% 0;
        letter-spacing: $letter-space;
        font-size: 4.5vw;
        @include mq(md) {
          font-size: 25px;
        }
      }
      p {
        letter-spacing: $letter-space;
        font-size: 3vw;
        line-height: 2;
        @include mq(md) {
          font-size: 15px;
        }
      }
    }
  }
}

.secret-container {
  display: flex;
  flex-wrap: wrap;
  max-width: $container-wmax;
  padding: 25vmin 0;
  @include mq(md) {
    margin: auto;
    padding: 10px 0;
  }
  .srcret-title {
    width: 60%;
    margin-left: 10%;
    @include mq(md) {
      width: auto;
      margin: 280px 0 auto 450px;
    }
  }
  .secret-bg {
    object-fit: cover;
    width: 100%;
    padding-left: 10%;
    height: 73vw;
    object-position: left;
    @include mq(md) {
      height: auto;
      width: 800px;
      margin: auto auto auto 50px;
      padding: 0;
    }
  }
  .feature-container {
    list-style: none;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    width: 100%;
    @include mq(md) {
      margin: 70px auto 0 auto;
      width: 1000px;
    }
    .secret-feature {
      width: 100%;
      padding: 10vmin 10vmin 0 10vmin;
      @include mq(md) {
        padding: 30px 50px;
      }
      h2 {
        display: inline-block;
        font-weight: normal;
        margin-bottom: 4vmin;
        padding: 0 2vw;
        font-size: 4.5vw;
        background-color: $primary-color;
        @include mq(md) {
          font-size: 23px;
          padding: 0 15px;
          margin-bottom: 25px;
        }
      }
      p {
        letter-spacing: $letter-space;
        line-height: 2;
        font-size: 3vw;
        @include mq(md) {
          font-size: 13px;
        }
      }
      p.mineral-annotation {
        margin-top: 3vw;
        font-size: 2vw;
        @include mq(md) {
          margin-top: 15px;
          font-size: 10px;
        }
      }
      @include mq(md) {
        width: 50%;
      }
    }
  }
}

.lineup {
  background-color: $primary-color;
  .lineup-container {
    text-align: center;
    padding: 30vw 0;
    @include mq(md) {
      padding: 180px 0;
    }
    h1 {
      font-weight: normal;
      font-size: 10vw;
      @include mq(md) {
        font-size: 70px;
      }
    }
    .swiper-container {
      height: 140vmin;
      margin-top: 15vw;
      @include mq(md) {
        height: 900px;
        margin-top: 60px;
      }
      .swiper-slide {
        width: 50vw;
        @include mq(md) {
          width: 400px;
        }
        img {
          width: 100%;
        }
      }
      .swiper-button-next,
      .swiper-button-prev {
        top: 45%;
        margin: 0 3vmin;
      }
      .swiper-button-next::after,
      .swiper-button-prev::after {
        font-size: 6vmin;
      }
      .swiper-pagination-bullet {
        width: 2vmin;
        height: 2vmin;
        margin: 0 2vmin;
        @include mq(md) {
          width: 20px;
          height: 20px;
          margin: 0 10px;
        }
      }
    }
  }
}

.make-up-series {
  background-color: $primary-color;
  .make-up-series-container {
    text-align: center;
    height: 300vw;
    h1 {
      font-weight: normal;
      letter-spacing: $letter-space;
      font-size: 9vw;
      margin-bottom: 5vw;
    }
    h2 {
      font-weight: normal;
      letter-spacing: $letter-space;
      font-size: 6.5vw;
    }
    .type-container {
      margin-top: 15vw;
      display: flex;
      justify-content: space-evenly;
      .type {
        position: relative;
        .hex::before {
          transform: rotate(60deg);
        }
        .hex::after {
          transform: rotate(-60deg);
        }
        .hex {
          position: relative;
          width: 20vw;
          height: 12vw;
          background-color: #e9546b;
          text-align: center;
          z-index: 1;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 3vw;
          color: white;
        }
        .hex::before,
        .hex::after {
          position: absolute;
          content: '';
          background-color: #e9546b;
          height: 100%;
          width: 100%;
          top: 0;
          left: 0;
          z-index: -1;
        }
      }
      .type::after {
        content: '';
        position: absolute;
        left: 50%;
        width: 0.5vw;
        transform: translateX(-50%);
        height: 100vw;
        background-color: #e9546b;
      }
    }
    .item-container {
      margin-top: 15vw;
      display: flex;
      list-style: none;
      flex-wrap: wrap;
      justify-content: center;

      .primary-base {
        z-index: 1;
        background-color: white;
        width: 90%;
        height: 40vw;
        display: flex;
        justify-content: center;
        align-items: center;
        img {
          // height: 140%;
          width: 22vw;
          top: 4vw;
          margin-bottom: -8vw;
        }
        .description {
          text-align: start;
          h2 {
            letter-spacing: $letter-space;
            font-size: 5vw;
          }
          p {
            letter-spacing: $letter-space;
            line-height: 2;
            font-size: 3vw;
          }
          .info {
            margin-top: 2vw;
          }
          .link {
            margin-top: 2vw;
          }
        }
      }
      .clear-base {
        background-color: white;
        z-index: 1;
        height: 80vw;
        width: 50%;
        margin-top: 20vw;
      }
    }
  }
}
