
body{
    margin: 0;
}

/*
トップ
*/
.header {
    height: 100%;
    padding: 0 0;
    margin: 0 0;
    background-image: url('asset/bg_header_pink.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    color: white;

}

.header-flower {
    display: inline-block;
    margin-top: 9.5%;
}

.title-logo {
    width: 130px;
}

.flower-title {
    margin-top: 30px;
    font-size: 20px;
}

.scope-annotation {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 13px;
}

/*
2段目
*/
.service-overview {
    height: 80%;
    display: flex;
    color: white;
}

.service-overview div {
    flex: auto;
    padding: 80px;
}

.service-overview h2.flower-title{
    font-size: 25px;
    margin-bottom: 10px;
}

.service-overview p.flower-description{
    margin-top: 0;
}

.favorite-flower-container {
    background-image: url('asset/bg_service01.jpg');
    background-size: cover;
    background-position: bottom center;
}

.post-flower-container {
    background-image: url('asset/bg_service02.jpg');
    background-size: cover;
    background-position: bottom center;
}

.cute-flower-container {
    background-image: url('asset/bg_service03.jpg');
    background-size: cover;
    background-position: bottom center;
}

/*
3段目
*/
.service-convenience {
    height: 570px;
    color: #3f434a;
    display: flex;
    text-align: center;
}

.service-convenience .service-container {
    flex: auto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

/*
ブーケ側
*/
.onecoin-container {
    background: #f5f5f5;
}

.bouquet-img-container {
    width: 200px;
    height: 225px;
    display: inline-block;
    position: relative;
}

.free-trial-img {
    position: absolute;
    width: 130px;
    display: block;
    z-index: 2;
    margin: 0 auto;
    left: 0;
    right: 0;
}


.bouquet-img {
    height: 200px;
    top: 25px;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.onecoin-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.bouquet-price-container {
   margin-top: 25px;
}

.bouquet-price-container .bouquet-description {
    margin-bottom: 0;
}

.bouquet-price-container .price-per-once {
    margin-top: 3px;
}

.bouquet-price-container .price-per-once span {
    font-size: 20px;
}

.onecoin-annotate-container {
    margin-top: 35px;
}

/*
カレンダー側
*/

.pace-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.pace-img {
    width: 180px;
}

/*
4段目
*/
.kind-of-flower {
    height: 720px;
    display: flex;
    flex-flow: column wrap;
    color: #3f434a;
    padding: 45px;
    background: #ead5dc;
}

.flower-kind-bg {
    background-image: url('asset/bg_flower.jpg');
    background-size: contain;
    height: 700px;
    width: 50%;
    flex-grow: 1;
    order: 1;
}

.flower-kind-title-container {
    order: 2;
    text-align: center;
    width: 50%;
    flex-grow: 1;
    max-height: fit-content;
    margin-top: 100px;
    margin-bottom: 40px;
    height: 26px;
}

.kind-of-flower-title {
    font-size: 26px;
}

.kind-of-flower-description-container {
    margin-top: 30px;
    order: 3;
    width: 50%;
    flex-grow: 1;
    max-height: fit-content;
}

.kind-of-flower-description-container div {
    width: 400px;
    margin: 0 auto 40px auto;
    text-align: center;
}

.kind-of-flower-description-container div h3{
   font-size: 20px;
   margin-bottom: 10px;
}

.kind-of-flower-description-container div div{
    text-align: left;
}
