
body{
    margin: 0;
}

/*
トップ
*/
.header {
    height: 100%;
    padding: 0 0;
    margin: 0 0;
    background-image: url('asset/bg_header_pink.jpg');
    background-size: cover;
    background-position: bottom center;
    background-repeat: no-repeat;
    text-align: center;
    position: relative;
    color: white;

}

.header-flower {
    display: inline-block;
    margin-top: 9.5%;
}

.title-logo {
    width: 130px;
}

.flower-title {
    margin-top: 30px;
    font-size: 20px;
}

.scope-annotation {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin: 0 auto;
    font-size: 13px;
}

/*
2段目
*/
.service-overview {
    height: 80%;
    display: flex;
    color: white;
}

.service-overview div {
    flex: auto;
    padding: 80px;
}

.service-overview h2.flower-title{
    font-size: 25px;
    margin-bottom: 10px;
}

.service-overview p.flower-description{
    margin-top: 0;
}

.favorite-flower-container {
    background-image: url('asset/bg_service01.jpg');
    background-size: cover;
    background-position: bottom center;
}

.post-flower-container {
    background-image: url('asset/bg_service02.jpg');
    background-size: cover;
    background-position: bottom center;
}

.cute-flower-container {
    background-image: url('asset/bg_service03.jpg');
    background-size: cover;
    background-position: bottom center;
}

/*
3段目
*/
.service-convenience {
    height: 570px;
    color: #3f434a;
    display: flex;
    text-align: center;
}

.service-convenience .service-container {
    flex: auto;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center;   
}

/*
ブーケ側
*/
.onecoin-container {
    background: #f5f5f5;
}

.bouquet-img-container {
    width: 200px;
    height: 225px;
    display: inline-block;
    position: relative;
}

.free-trial-img {
    position: absolute;
    width: 130px;
    display: block;
    z-index: 2;
    margin: 0 auto;
    left: 0;
    right: 0;
}


.bouquet-img {
    height: 200px;
    top: 25px;
    display: block;
    position: absolute;
    margin: 0 auto;
    left: 0;
    right: 0;
}

.onecoin-title {
    font-size: 20px;
    margin-bottom: 10px;
}

.bouquet-price-container {
   margin-top: 25px;
}

.bouquet-price-container .bouquet-description {
    margin-bottom: 0;
}

.bouquet-price-container .price-per-once {
    margin-top: 3px;
}

.bouquet-price-container .price-per-once span {
    font-size: 20px;
}

.onecoin-annotate-container {
    margin-top: 35px;
}

/*
カレンダー側
*/

.pace-title {
    font-size: 20px;
    margin-bottom: 25px;
}

.pace-img {
    width: 180px;
}

/*
4段目
*/
.kind-of-flower {
    height: 720px;
    display: flex;
    flex-flow: column wrap;
    color: #3f434a;
    padding: 45px;
    background: #ead5dc;
}

.flower-kind-bg {
    background-image: url('asset/bg_flower.jpg');
    background-size: contain;
    height: 700px;
    width: 50%;
    flex-grow: 1;
    order: 1;
}

.flower-kind-title-container {
    order: 2;
    text-align: center;
    width: 50%;
    flex-grow: 1;
    max-height: fit-content;
    margin-top: 100px;
    margin-bottom: 40px;
    height: 26px;
}

.kind-of-flower-title {
    font-size: 26px;
}

.kind-of-flower-description-container {
    margin-top: 30px;
    order: 3;
    width: 50%;
    flex-grow: 1;
    max-height: fit-content;
}

.kind-of-flower-description-container div {
    width: 400px;
    margin: 0 auto 40px auto;
    text-align: center;
}

.kind-of-flower-description-container div h3{
   font-size: 20px;
   margin-bottom: 10px;
}

.kind-of-flower-description-container div div{
    text-align: left;
}

/*
5段目
*/
.vase {
    display: flex;
    flex-flow: column wrap;
    height: 850px;
    color: #3f434a;
    padding-top: 130px;
    background: #e8e2df;
}

.vase-title-container {
    flex-grow: 1;
    max-height: fit-content;
    text-align: center;
    margin-bottom: 30px;
    order: 1;
    width: 50%;
}

.vase-title-container .vase-title {
    font-size: 26px;
}

.vase-title-container p {
    background: white;
    display: inline-block;
    margin-top: 30px;
    padding: 5px;
}

.vase-bg {
    order: 3;
    background-image: url('asset/bg_vase.jpg');
    background-position: bottom center;
    width: 50%;
    height: 100%;
    background-size: cover;
    flex-grow: 1;
}

.vase-description-container {
    order: 2;
    width: 400px;
    height: 100%;
    max-height: fit-content;
    margin: 0 auto;
    flex-grow: 1;
}



.vase-image-container {
    display: flex;
    margin-top: 25px;
    justify-content: space-between;
}

.vase-img {
    position: relative;
    text-align: center;
    flex-grow: 1;
    max-width: 100px;
}

.vase-img img {
    width: 100%;
}

.vase-img p {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    display: block;
    margin: 0 auto;
}

.special-price-container {
    margin-top: 30px;
}

.special-price-container .two-week-info {
    float: left;
    border: solid black;
    padding: 5px 10px;
}

.special-price-container .two-week-price {
    margin-left: 20px;
    float: left;
    padding: 5px 0;
}

.special-price-container .two-week-price .special-price {
    font-size: 20px;
}

.special-price-container .app-available-notification {
    clear: both;
    display: inline-block;
    margin-top: 20px;
}

/*
6段目
*/
.flower-spec {
    height: 50%;
    color: #3f434a;
    padding: 12vmin 4vmin;
    text-align: center;
}

.flower-spec > h3 {
    font-size: 26px;
}

.icon-container {
    margin-top: 40px;
    display: flex;
}

.icon-container div {
    flex-grow: 1;
}

.icon-container div img {
    height: 80px;
}

.icon-container div h3 {
    font-size: 20px;
}

.icon-container div p {
    display: inline-block;
    margin-top: 15px;
}